body {
    height: 125vh;
    background: linear-gradient(60deg, #000 0%, #251010 20%, #633f17 100%);
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 40px;
    background-attachment: fixed;


}

header img {
    float: left;
    height: 50px;
    width: fit-content;
    padding-left: 100px;
    padding-top: 0;

}

header {

    top: 0;
    left: 0;
    right: 0;
    height: 20px;
    margin-top: 10px;
    display: flex;



}

header * {
    display: inline;
}










.navbar {

    margin: 0;
    padding: 0;
    margin-left: 22%;
    width: 50%;


}

ul {
    padding: 5px 3px;


}

.navbar a {
    text-decoration: none;
    display: block;


    color: aliceblue;
    text-align: center;
    padding: 10px 15px;


}

.navbar li {
    list-style-type: none;
    float: left;





}

.wallet1 {
    color: yellow;
    padding: 0px 3px;
    background-color: yellow;
    border: yellow;
    border-radius: 10px;
    float: right;

}

.wallet {
    position: absolute;
    color: yellow;
    padding: 10px 3px;
    background-color: yellow;
    border: yellow;
    text-decoration: none;
    list-style-type: none;
    border-radius: 10px;
    margin: 0;
    width: 9%;
    top: 355px;





}

.section1 p {
    color: white;
    padding-top: 20px;
}






.keys1 {
    position: absolute;
    width: 70%;
    height: 700px;
    float: right;
    top: -100px;
    right: 40px;
    opacity: 0.3;




}



.key1 {
    position: absolute;
    float: right;
    top: -15px;
    right: -40px;
    height: 600px;
    width: 60%;



}

.section1 {
    position: relative;
}

.letter1 {
    display: flex;
    position: absolute;
    top: 70px;

}

.ape {
    display: flex;
    position: absolute;
    margin: 9px 9px black;
    width: 100px;
    background: linear-gradient(45deg, rgb(19, 17, 17) 0%, black);
    justify-content: center;
    height: 44px;
    top: 220px;
    border-radius: 9px;



}

.letter2 {
    display: flex;
    position: absolute;
    top: 50px;
}

.letter3 {
    display: flex;
    position: absolute;
    top: 130px;
    left: 115px;
}


/* beginning of section2 */
.section2 {
    position: relative;

}

.circle1 {
    position: absolute;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    display: flex;
    border-right-style: outset;
    border: 10px 10px;
    border-color: yellow;
    top: 710px;
    left: 340px;



}

.circle2 {
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: flex;
    border-right-style: outset;
    border: 10px 10px;
    border-color: yellow;
    top: 730px;
    left: 360px;


}

.circle3 {
    background: #000;
    color: yellow;
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 20px;
    font-weight: 200px;
    top: 750px;
    left: 380px;
    opacity: 1;
    border-color: yellow;
    border: 10px 10px;
    border-right-style: outset;

}

.key2 {
    position: absolute;
    display: flex;
    top: 480px;
    width: 350px;
    left: 90px;
    z-index: -1;
}

.explore {
    position: absolute;
    top: 930px;
    left: 25%;
    padding: 20px;




}

.ex1 {
    text-align: center;
    color: aliceblue;
}

.ex2 {
    text-align: center;
    color: aliceblue;
    margin-top: -40px;
}

/* beginning ofsection three */